@import url("reset.css");

body{
  background: #f0db4f;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
}

.title{
  text-align: center;
  width: 100%;
  font-size: 12vw;
  font-weight: 900;
  margin: .2em 0;
  /* color: #e0e5eb; */
  /* color: #ffdd00; */
  color: #323330;
  text-shadow: -5px -5px 10px #fffd8e66,
  5px 5px 10px rgba(0, 0, 0, .4);
  line-height: .9em;
}

.gallery{
  width: 100%;
  border-radius: 20px;
  background: #f0db4f;
  box-shadow:  20px 20px 40px #d8bf1b,
              -20px -20px 40px #ffed7b;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, 15em);
  gap: 1em;
}

@media screen and (max-width: 860px) {
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .gallery{
    grid-template-columns: 1fr;
  }
}
 
.gallery__proyect{
  position: relative;
  /* width: 20em;
  height: 15em; */
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .8);
}

.proyect__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: grayscale(1);
  transition: .5s;
}

.proyect__title{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e5eb;
  font-size: 2em;
  padding: .5em;
  cursor: pointer;
  animation: animate .8s reverse;
  transition: .5s;
  filter: blur(4px);
  line-height: 1.2em;
}

.gallery__proyect:hover .proyect__title{
  filter: blur(0px);
}

.gallery__proyect:hover .proyect__img{
  transition: .5s;
  filter: grayscale(0);
}
