@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

/* ✔Custom Properties */
:root{
  --color-primario:#181818;
  --color-secundario:#f0f0f0;

  /* Typography */
  --tipo-principal:'Poppins', sans-serif;
  --tipo-secundaria:Verdana;
}

/* ✔ Custom Properties adapted to dark mode */
@media (prefers-color-scheme: dark) {
  :root{
    --color-primario:#f0f0f0;
    --color-secundario:#181818;
  }
}

/* Optional */
/* ✔ Configuration, if the user has activated the high contrast mode (WD) */
@media (prefers-contrast: high){
  :root{
    --color-primario:black;
    --color-secundario:white;
  }
}

/* Optional */
/* ✔ Configuring the animations, in case the user has disabled the animations. */
@media(prefers-reduced-motion: reduce){
  /* I advise to put the specific tag, because it affects the performance with "*" */
  *{
    animation: none;
    transition: none;
  }
}


/* ✔ Resetting the margins & paddings of all tags */
*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box; /* To avoid problems in box model */
  vertical-align: baseline; /* To align text & images */
}

/* ✔ To avoid problems with images */
img, picture, video, iframe, figure{
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */ object-fit: cover;
  /* opcional */ object-position: center center;
}

/* ✔ Resetting the links to work as boxes... */
a{
  display: block;
}

/* ✔ ...Except those found in paragraphs */
p a{
  display: inline;
}

/* ✔ Removing dots from <li> */
li{
  list-style-type: none;
}

/* ✔ Setting soft anchors. */
html{
  scroll-behavior: smooth;
}

/* ✔ Disabling default styles of the main text labels. */
h1,h2,h3,h4,h5,h6,p,span,a,strong,blockquote,i,b,u,em{
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* ✔ Avoiding problems with quotes pseudo elements. */
blockquote::before,blockquote::after,q::before,q::after{
  content: '';
  content: none;
}

/* ✔ Configuring the text selection */
::selection{
  background-color: --color-primario;
  color: --color-secundario;
}

/* ✔ Leveling problems of fonts and placement of forms. */
form, input, textarea, select, button, label{
  font-family: inherit;
  font-size: inherit;
  hyphens: auto; /** Si el texto no cabe en el contenedor/linea, coloca un "-" en el corte de la palabra */
  background-color: transparent;
  display: block;
  color: inherit;
  /* opcional */ appearance: none;
}

/* ✔ Resetting tablels */
table,tr,td{
  border-collapse: collapse;
  border-spacing: 0;
}

/* ✔ Avoid problems with SVG */
svg{
  width: 100%;
  display: block;
  fill: currentColor;
}

/* ✔ Configuring the typography of the entire web */
body{
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  /* optional */ line-height: 1.4em; /* Line spacing recommendation: between 1.4em and 1.6em */
  /* optional */ /*hyphens: auto;*/
  /* optional */ font-smooth: always; /* To better define the letter */
  /* optional */ --webkit-font-smoothing: antialiased;
  /* optional */ --moz-osx-font-smoothing: grayscale;
}